@model IEnumerable<AspTimeSheet.Models.StaffPositionModelView>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-action="Edit">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Checked)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.RadioButtonFor(modelItem => item.Checked, item.Id, new { id = "Response" + item.Id } )
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="form-group">
        <input type="submit" value="Выбрать" class="btn btn-default" />
    </div>
</form>